*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
	margin-bottom: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	text-decoration: none;
	color: #F8B239;	
}
p{
	margin: 0;
}
/*手写媒体查询，多的20px是滚动条的*/
@media screen and (min-width: 1220px) {
	#section_section{
		max-width: 1140px;
	}
}
@media screen and (max-width: 1220px) {
	#section_section{
		max-width: 44rem;
	}
}
@media screen and (min-width: 620px) {
	#section_section_intro{
		justify-content: space-between;
	}
}
@media screen and (max-width: 620px) {
	#section_section{
		max-width: 29rem;
	}
	#section_section_intro{
		justify-content: space-around;
	}
}
#section{
	margin-top: 6%;
}
#section_header{
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}
#section_header #p1{
	margin: auto 5%;
	font-size: 2rem;
	color: #000;
}
#section_header #p2{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #0177b5;
}
#section_header hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
	margin-top: 0.25rem;
}
#section_header_intro{
	width: 100%;
	background-color: #0177b5;
	margin-top: 2rem;
	padding: 1.5rem;
}
#section_header_intro #p3{
	font-size: 1.5rem;
	color: #F8B239;
}
#section_header_intro #p4{
	font-size: 1rem;
	color: #fff;
}
#section_header #p5{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #F8B239;
	margin-top: 3rem;
}
#mail_button{
	/*自定义边框*/
	border: 0px;
	/*消除默认点击蓝色边框效果*/
	outline: none;
	width: 20%;
	font-size: 1.38rem;
	background: #f8b239;
	margin: 3rem 0;
}
#mail_button a{
	text-decoration: none;
	color: #FFFFFF;
}
#mail_button:hover{
	background:#017785;
}
#section_section{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#section_section #p6{
	margin: auto 5%;
	font-size: 2rem;
	color: #000;
}
#section_section #p7{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #0177b5;
}
#section_section hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
	margin-top: 0.25rem;
}
#section_section_intro{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
}
#section_section_intro li{
	width: 15rem;
	position: relative;
}
#section_section_intro li>img{
	width: 15rem;
}
#section_section_intro li p.p8{
	font-size: 1.5rem;
	margin-bottom: 0;
}
#section_section_intro li p.p9{
	font-size: 1rem;
	color: #999999;
	margin-bottom: 0;
}
.section_section_intro_div{
	width: 10rem;
	height: 12.5rem;
	position: absolute;
	top: 2.5rem;
	left: 2.5rem;
	text-align: center;
	display: none;
}
.section_section_intro_div.fadeID{
	animation: fadeInDown 1s;
	animation: zoomIn 1s;
}
.section_section_intro_div.fadeOD{
	animation: fadeOutDown 2s;
	animation: zoomOut 2s;
}
.p10{
	font-size: 1.5rem;
	color: #F8B239;
}
.p11{
	font-size: 1rem;
	color: #fff;
}
.section_section_intro_ul{
	display: flex;
	z-index: 99;
}
.section_section_intro_ul>li>i{
	width: 2rem;
	height: 2rem;
	padding: 0.3rem 0;
	color:#fff;
	font-size: 1.4rem;
	border:1px solid #FFFFFF;
	border-radius: 50%;
	//为小图标设置鼠标悬浮时背景色和边框色改变的由快到慢过渡
	transition: all 1s ease-out;
}
.section_section_intro_ul>li>i.fa-facebook:hover{
	background-color: #3b5998;
	border-color: #3b5998;
}
.section_section_intro_ul>li>i.fa-twitter:hover{
	background-color: #1da1f2;
	border-color: #1da1f2;
}
.section_section_intro_ul>li>i.fa-dribbble:hover{
	background-color: #ea4c89;
	border-color: #ea4c89;
}