*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
	margin-bottom: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	text-decoration: none;
	color: #F8B239;	
}
p{
	margin: 0;
}
@media screen and (min-width: 992px){
	#section_section_left{
		width: 17.25rem;
	}
	#section_section_right{
		width: 44rem;
	}
}
@media screen and (max-width: 991px){
	#section_section{
		flex-wrap: wrap;
	}
	#section_section_left{
		width: 100%;
	}
	#section_section_left>ul{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	#section_section_right{
		width: 100%;
	}
}
#section{
	margin-top: 6%;
}
#section_header{
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}
#section_header #p1{
	margin: auto 5%;
	font-size: 2rem;
	color: #000;
}
#section_header #p2{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #0177b5;
}
#section_header hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
	margin-top: 0.25rem;
}
#section_section{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}
#section_section_left .con_card{
	width: 17.25rem;
	height: 5.125rem;
	display: flex;
	margin-bottom: 1rem;
}
#section_section_left .con_card:last-child{
	margin-bottom: 0;
}
#section_section_left .con_card>div{
	width: 5.125rem;
	background-color: #0177B5;
	border: 2px solid #000;
	position: relative;
}
#section_section_left .con_card>div>img{
	width: 3.75rem;
	position: absolute;
	top: 11px;
	left: 11px;
}
#section_section_left .con_card>ul{
	margin-left: 1rem;
}
#section_section_left .con_card>ul>.contact_name{
	font-size: 15px;
}
#section_section_left .con_card>ul>.contact_post{
	font-size: 13px;
	color: #1ca0de;
}
#section_section_left .con_card>ul>.contact_icon{
	color: #F8B239;
}
#section_section_left .con_card>ul a{
	margin-left: 0.5rem;
	font-size: 14px;
	color: #6b6b6b;
}
#section_section_right #p3{
	font-size: 1.5rem;
	color: #0177B5;
	margin-left: 0.5rem;
}
#section_section_right #p4{
	font-size: 1rem;
	color: #333333;
}
#section_section_right input,textarea{
	width: 100%;
	outline: none;
	border: none;
	padding: 0.5rem;
}
#section_section_right input{
	border-bottom: 1px solid #38383a;
}
#section_section_right textarea{
	text-decoration: underline;
}
#section_section_right button{
	/*自定义边框*/
	border: 0px;
	/*消除默认点击蓝色边框效果*/
	outline: none;
	width: 40%;
	height: 100%;
	font-size: 1.38rem;
	background: #f8b239;
	color: #fff;
}
#section_section_right button:hover{
	background:#017785;
}