*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
	margin-bottom: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	text-decoration: none;
	color: #F8B239;	
}
p{
	margin: 0;
}
@media screen and (min-width:1080px){
	#section_section div{
		width: 17.5rem;
	}
	#section_section div img{
		width: 17.5rem;
	}
}
@media screen and (max-width:1079px){
	#section_section div{
		width: 30%;
	}
	#section_section div img{
		width: 100%;
	}
}
@media screen and (min-width:481px){
	#section_section{
		justify-content: space-between;
	}
}
@media screen and (max-width:480px){
	#section_section{
		flex-wrap: wrap;
	}
	#section_section div{
		width: 100%;
	}
	#section_section div+div{
		margin-top: 0.25rem;
	}
	#section_section div img{
		width: 100%;
	}
}
#section{
	margin-top: 6%;
}
#section_header{
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
	text-align: center;
}
#section_header #p1{
	margin: auto 5%;
	font-size: 2rem;
	color: #000;
}
#section_header #p2{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #0177b5;
}
#section_header hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
	margin-top: 0.25rem;
}
#section_section{
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
}

#section_section div img+img{
	margin-top: 0.5rem;
}