/*去除默认样式*/
body,ul{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
}
/*图片的样式*/
.i1{
	width:43px;
	margin-top:20px;
}
/*有爱电影网标题的样式*/
.s1{
	color:#666;
	font-weight:bolder;
	font-size:20px;
}
/*大片二字的样式*/
.s2,.s3{
	color:red;
	font-size:16px;
	font-weight:bold;
}
.s2{
	margin-left:20px;
}
.s3{
	margin-left:5px;
}
/*整体的样式*/
.d1{
	display:flex;
}
/*整个搜索框的样式*/
.d2{
	margin-top:23px;
	margin-left:50px;
}
/*龙之战搜索框的样式*/
.i2{
	font-size:10px;
	height:20px;
	width:200px;
	color:#666;
	padding-left:8px;
	border: 1px solid #adb2b9;
}
/*导航两个字的样式*/
.s4{
	font-size:12px;
	font-weight:normal;
	color:#90a4a1;
	margin-left:10px;
	text-decoration:none;
	cursor:pointer;
}
/*搜索图片党的样式*/
.i3{
	width:30px;
}
/*右边三个小标题的样式*/
.d3{
	display:flex;
	color:#90a4a1;
	font-size:8px;
	margin-top:30px;
	margin-left:60px;
}
/*右边三个小图片*/
.i4,.i5,.i6{
	margin-left:14px;
}
/*右边三个小标题*/
.d4,.d5,.d6{
  margin-left:11px;
}
/*设置#header_header的宽度不小于1000px*/
#header_header{
	width: 100%;
	min-width: 1000px;
	background-color: #333f51;
}
/*设置#header_header下放两个ul的容器定宽定高，水平居中。两个容器水平两端对齐*/
#header_header>div{
	width: 1000px;
	height: 3rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background: url(../img/bg1.jpg);
}
/*设置#header_header下两个ul定高，并借助弹性布局使li水平排布*/
#header_header>div>ul{
	height: 3rem;
	display: flex;
}
#header_header>div>ul>li{
	height: 3rem;
	/*使边框不超出容器外*/
	box-sizing: border-box;
	line-height: 3rem;
	/*使li间有间距*/
	padding: 0 0.8rem;
	position: relative;
}
/*设置下拉选项的默认样式*/
#header_header>div>ul>li>ul{
	/*让这一级容器脱离文档流*/
	position: absolute;
	/*让其与li对齐*/
	left: 0;
	width: 140px;
	background-color: #343c45;
	color: #bfcde2;
	display: none;
	z-index:999;
}
#header_header>div>ul>li>ul>li:hover{
	background-color: #101a25;
	color: #fff;
}
/*设置鼠标悬浮时的类active包含的样式*/
#header_header>div>ul>li.active{
	border-bottom: 3px solid #d00060;
	background-color: #101a25;
}
/*设置两个ul各自的字体颜色*/
#header_header>div>#header_header_ul1>li{
	color: #fff;
}
#header_header>div>#header_header_ul2>li{
	color: #bfcde2;
}
