*{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
	margin-bottom: 0;
}
a{
	text-decoration: none;
	color: #FFFFFF;
}
a:hover{
	text-decoration: none;
	color: #F8B239;	
}
/*为部分响应式模块适配特殊屏幕分辨率下的样式*/
@media screen and (min-width:1367px){
	#header_header_btn{
		font-size: 3rem;
	}
	#header_header_btn i{
		font-size: 2.5rem;
		transform: translate(-106px,47px) rotate(-31deg);
	}
	#header_section #p1{
		font-size: 1.3rem;
		line-height: 2.8rem;
	}
	#header_section #p2{
		font-size: 2.5rem;
	}
}
@media screen and (min-width:1080px){
	#header_section{
		height: 42%;
	}
}
@media screen and (max-width:1366px){
	#header_header_btn{
		font-size: 3rem;
	}
	#header_header_btn i{
		font-size: 2.5rem;
		transform: translate(-106px,47px) rotate(-31deg);
	}
	#header_section{
    	padding: 0.5em 1em;
	}
	#header_section #p1{
		font-size: 1.1rem;
		line-height: 2.4rem;
		margin-bottom: 0.55rem;
	}
	#header_section #p2{
		font-size: 2.3rem;
	}
	#header_section #p3{
    	font-size: 0.88rem;
	}
}
@media screen and (max-width:1080px){
	#header_header_btn{
		font-size: 2.8rem;
	}
	#header_header_btn i{
		font-size: 2.3rem;
		transform: translate(-99px,44px) rotate(-31deg);
	}
	#header_section{
    	padding: 0.5em 1em 0 1em !important;
	}
	#header_section #p1{
		font-size: 0.9rem;
		line-height: 2.25rem;
		margin-bottom: 0.5rem;
	}
	#header_section #p2{
		font-size: 1.88rem;
	}
	#header_section #header_section_button{
		margin-bottom: 2%;
	}
	#header_section>div:nth-child(2)>ul{
		display:block !important;
	}
	#header_section>div:nth-child(2)>ul>li+li{
		margin-top: 0.5rem;
		margin-left: 0!important;
	}
}
@media screen and (max-width:900px){
	#header_header_btn{
		font-size: 2.5rem;
	}
	#header_header_btn i{
		font-size: 2rem;
		transform: translate(-88px,40px) rotate(-31deg);
	}
	#header_section{
    	padding: 0.3em 0.65em;
	}
	#header_section #p1{
		font-size: 0.8rem;
		line-height: 2.2rem;
		margin-bottom: 0.1rem;
	}
	#header_section #p2{
		font-size: 1.56rem;
		margin-bottom: 0.1rem;
	}
	#header_section #p3{
		margin-top: 0.4rem;
    	font-size: 0.8rem;
    	line-height: 1.6rem;
	}
}
@media screen and (max-width: 760px) {
	#header_header_btn{
		font-size: 1.9rem;
	}
	#header_header_btn i{
		font-size: 1.4rem;
		transform: translate(-66px,30px) rotate(-31deg);
	}
}
@media screen and (max-width:600px){
	#header_header_btn{
		font-size: 1.6rem;
	}
	#header_header_btn i{
		font-size: 1.1rem;
		transform: translate(-56px,25px) rotate(-31deg);
	}
	#header_section{
		width: 26%;
		padding: 0.1em 0.9em;
	}
	#header_section #p1{
		font-size: 0.7rem;
		line-height: 1.9rem;
	}
	#header_section #p2{
		font-size: 1.38rem;
	}
}
@media screen and (max-width: 568px){
	#header_section #p3{
		margin-top: 0.38rem;
		line-height: 1.4rem;
	}
}
@media screen and (max-width: 480px){
	#header_header_btn{
		font-size: 1.3rem;
	}
	#header_header_btn i{
		font-size: 0.8rem;
		transform: translate(-47px,19px) rotate(-31deg);
	}
	#header_section{
		width: 34%;
	}
}
@media screen and (max-width: 320px) {
	#header_header_btn{
		font-size: 1rem;
	}
	#header_header_btn i{
		font-size: 0.5rem;
		transform: translate(-47px,19px) rotate(-31deg);
	}
	#header_section{
    	padding: 0.7em 1em 1em;
	}
	#header_section #p3{
		margin-top: 0.75rem;
	}
}
@media screen and (min-width: 480px) {
	#footer_footer>#footer_footer_ul2{
		display: flex;
		flex-wrap: wrap;
	}
}
/*为部分响应式模块适配特殊屏幕分辨率下的样式*/
/*为部分响应式模块适配三种传统屏幕分辨率下的尺寸*/
@media screen and (min-width:992px){
	#section_header_ul li{
		width: 25%;
	}
	#section_header_ul li+li{
		border-left: 1px solid #a1e1f9;
	}
	#section_section_one{
		height: 28rem;
	}
	#section_section_two_ul li+li{
		border-left: 1px solid #d7d5d5;
	}
	#footer_section>ul>li{
		width: 25%;
	}
	#footer_footer>ul{
		display: flex;
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	#section_header_ul li:first-child{
		border-right: 1px solid #a1e1f9;
		border-bottom: 1px solid #a1e1f9;
	}
	#section_header_ul li:last-child{
		border-left: 1px solid #a1e1f9;
		border-top: 1px solid #a1e1f9;
	}
	#section_section_one{
		height: 42rem;
	}
	#section_section_two_ul li:first-child{
		border-right: 1px solid #D7D5D5;
		border-bottom: 1px solid #D7D5D5;
	}
	#section_section_two_ul li:last-child-child{
		border-left: 1px solid #D7D5D5;
		border-top: 1px solid #D7D5D5;
	}
	#footer_section>ul>li{
		width: 50%;
	}
}
@media screen and (max-width:767px){
	#section_header_ul li+li{
		border-top: 1px solid #a1e1f9;
	}
	#section_section_one{
		height: 66rem;
	}
	#section_section_two_ul li+li{
		border-top: 1px solid #D7D5D5;
	}
	#footer_section>ul>li{
		width: 100%;
	}
}
/*为部分响应式模块适配三种传统屏幕分辨率下的尺寸*/
#header{
	width: 100%;
	border: 0px;
	position: relative;
}
#header img{
	width: 100%;
	/*这里不进行块状化会有5px的高度差异，因为图片按基线而不是父元素底部布局*/
	/*display: block;*/
	/*或者设置图像垂直对齐*/
	vertical-align: bottom;
}
#header_header{
	width: 100%;
	position: absolute;
	top: 0;
}
#header_header_btn{
	width: 25%;
	float: left;
	/*自定义边框*/
	border: 0px;
	/*消除默认点击蓝色边框效果*/
	outline: none;
	background: #f8b239;
	margin-top: -3rem;
}
#header_header_btn p{
	color:#FFFFFF;
}
#header_header_ul{
	width: 75%;
	background: rgba(56,56,56,0.22);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding-left: 1rem;
	box-sizing: border-box;
}
#header_header_ul li{
	color: #FFFFFF;
	font-size: 1.2rem;
	margin:0.6rem 0;
	margin-right: 5%;
}
#header_header_ul i{
	color: #F8B239;
}
#header_header_nav.navbar{
	width: 75%;
	padding: 0;
	background: rgba(8,8,8,0.5);
}
#header_header_nav_ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	box-sizing: border-box;
}
#header_header_nav_ul li{
	font-size: 1rem;
	margin-right: 3%;
	margin-top: 1rem;
}
#header_section{
	width: 40%;
	background: rgba(8,8,8,0.7);
	position: absolute;
	top: 30%;
	left: 45%;
	text-align: right;
	padding: 2em;
}
#header_section #p1{
	color: #fff;
}
#header_section #p2{
	color: #fff;
	line-height: 1.1;
}
#header_section #p3{
	font-size: 0.88rem;
	color: #c2f9c4;
}
#header_section>div:nth-child(2){
	height: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#header_section>div:nth-child(2)>ul{
	width: 40%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 5%;
}
#header_section>div:nth-child(2)>ul>li{
	width: 1.4rem;
	height: 1.4rem;
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 5px solid #0177b5;
}
#header_section>div:nth-child(2)>ul>li+li{
	margin-left: 1rem;
}
#header_section>div:nth-child(2)>ul>li.active{
	width: 3rem;
	height: 0.6rem;
	background-color: #F8B239;
	border-radius: 25%;
	border: none;
}
#header_section_button{
	/*自定义边框*/
	border: 0px;
	/*消除默认点击蓝色边框效果*/
	outline: none;
	width: 40%;
	height: 100%;
	font-size: 1.38rem;
	background: #f8b239;
}
#header_section_button a{
	text-decoration: none;
	color: #FFFFFF;
}
#header_section_button:hover{
	background:#017785;
}
#header_nav{
	width: 100%;
	/*保证遮罩全部可见屏幕*/
	height: 1000px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(3,3,3,0.2);
	transition: all 1s linear;
	display: none;
}
#header_article{
	width: 96%;
	max-width: 598px;
	margin: 30px auto;
	background-color: #fff;
	/*用子元素外边距控制间隙存在上下失效问题*/
	padding: 2rem;
}
#header_article>div{	
}
#header_article_header{
	width: 100%;
	/*定高，防止高度坍塌，设大点是为了和图片有间隙*/
	height: 3.25rem;
	position: relative;
}
#header_article_header>span:first-child{
	width: 8.5rem;
	font-size: 1.75rem;
	text-align: center;
	color: #0177B5;
	position: absolute;
	top: 0;
	/*使文字居中*/
	left: 50%;
	margin-left: -4.25rem;
}
#header_article_header>span:last-child{
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
#header_article_image{
	width: 100%;
}
#header_article_title{
	font-size: 1.5rem;
	color: #F8B239;
	margin-bottom: 1rem;
}
#header_article_slot>p>i{
	margin-left: 1rem;
	color: #0177b5;
}
#header_article_section{
	font-size: 1rem;
	color: #636363;
}
#section{
	margin-top: 6%;
}
#section_header{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#section_header #p4{
	margin: auto 5%;
	font-size: 2rem;
	color: #000;
}
#section_header #p5{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #0177b5;
}
#section_header hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
}
#section_header #p6{
	margin: auto 5%;
	font-size: 1.2rem;
	color: #F8B239;
}
#section_header_ul{
	width: 100%;
	background: #cceefc;
	margin-top:3rem;
}
#section_header_ul li{
	height: 16rem;
	font-size: 1.3rem;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
#section_header_ul i{
	font-size: 4rem;
	color: #0177b5;
}
#section_header_ul li hr{
	width: 8em;
	height: 0.2em;
	background-color: #F8B239;
	margin: 1rem auto;
}
#section_section{
	width: 100%;
	margin-top: 5%;
}
#section_section_one{
	width: 100%;
	background: url("../img/counter.jpg") no-repeat fixed left bottom;
	background-size: cover;
	text-align: center;
}
/*解决外边距溢出问题*/
#section_section_one:before{
	content: "";
	display: table;
}
#section_section_one #p7{
	font-size: 2.1rem;
	color: #fff;
	margin-top: 3rem;
}
#section_section_one #p8{
	font-size: 1.2rem;
	color: #000;
}
#section_section_one hr{
	width: 6%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
}
#section_section_one_ul{
	width: 100%;
	background: rgba(255,255,255,0.2);
}
#section_section_one_ul>li{
	display: flex;
	justify-content: center;
	align-items: right;
	margin: 3rem 0;
}
#section_section_one_ul>li>div{
	text-align: left;
}
.section_section_one_ul_p1{
	font-size: 2.6rem;
	color: #F8B239;
}
.section_section_one_ul_p2{
	font-size: 1.6rem;
	color: #000;
	font-weight: bold;
}
#section_section_two{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#section_section_two #p9{
	font-size: 2rem;
	color: #000;
	margin-bottom: 0;
}
#section_section_two #p10{
	font-size: 1.2rem;
	color: #0177b5;
}
#section_section_two hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
}
#section_section_two_ul li{
	border: 2px solid #d7d5d5;
}
#section_section_two_ul li>div>div{
	background-color: #0177B5;
}
#section_section_two_ul li>div>a{
	background: #F8B239;
	border-radius: 0;
	font-size: 1.4rem;
	color: #fff;
}
#section_section_two_ul li>div>span>p>i{
	color: #0177b5;
}
#section_section_two_ul li>div>div>img:hover{
	transform: scale(0.9);
	transition: all 1s linear;
}
#section_footer{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;/*测试时开着*/
}
#section_footer #p11{
	font-size: 2rem;
	color: #000;
	margin-bottom: 0;
}
#section_footer #p12{
	font-size: 1.2rem;
	color: #0177b5;
}
#section_footer hr{
	width: 10%;
	height: 0.1em;
	background-color: #212121;
	margin: 0 auto;
	margin-bottom: 3rem;
}
#section_footer>ul{
	/*设为82%*body，父级为80%*body,它占父级的82%/80%*/
	width: 102.5%;
	display: flex;
	list-style: none;
}
/*#section_footer>ul下的所有li样式是通用的*/
#section_footer>ul>li{
	/*右外边距设为2%*body，它占39%*body,父级为82%*body,它占父级的39%/82%*/
	width: 47.56%;
	background: #0177B5;
	margin-right: 2.44%;
}
#section_footer>ul>li>div{
	display: flex;
}
#section_footer>ul>li>div>div:first-child{
	width: 50%;
	margin: 2rem;
}
#section_footer>ul>li>div>div>p{
	text-align: left;
	color: #00AEEF;
	margin-right: 0;
}
#section_footer>ul>li>div>div>div{
	width: 9rem;
	background: rgba(4, 142, 214, 0.54);
}
#section_footer>ul>li>div>div>div>p{
	text-align: center;
}
#section_footer>ul>li>div>div>div>p:first-child{
	margin: 0;
	margin-top: 0.5rem;
	color: #FFFFFF;
}
#section_footer>ul>li>div>div>div>p:last-child{
	margin: 0;
	margin-bottom: 0.5rem;
	color:#015885;
	font-style: italic;
}
#section_footer>ul>li>div>div:last-child{
	width: 30%;
	margin: 2rem;
	margin-left: 0;
}
#section_footer>ul>li>div>div:last-child>img{
	width: 100%;
}
/*#section_footer>ul下的所有li样式是通用的*/
